@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-purple {
  background-color: #6B3CC9;
}

/* Navbar styles */
.navbar-container {
  display: flex;
  height: 77px;
  position: relative;
  top: 0;
  left: 0;
  padding: 26px 80px;
  justify-content: space-between;
  background-color: #6B3CC9;
  color: white;
}

.logo-image {
  width: 238.89px;
  height: 36.11px;
  margin-top: -11.11px;
  object-fit: cover;
}

/* Hero styles */
.hero-container {
  display: flex;
  width: 100%;
  max-width: 1600px;
  height: auto;
  position: relative;
  object-fit: cover;
  margin: 0 auto;
}

.hero-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero-content {
  display: flex;
  position: absolute;
  top: 70%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.content-box {
  background: linear-gradient(256.73deg, #1CBDDD 27.86%, #4DCA79 100%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
  padding: 10px;
  width: 400px;
  height: 250px;

}

.content-box h1 {
  display: flex;
  font-size: 30px;
  margin-bottom: 20px;
}

.content-box button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #F28D35;
  color: #fff;
  border: none;
  cursor: pointer;
}

.content-box2 {
  display: flex;
  background: white;
  padding: 20px;
  width: 1000px;
  height: 250px;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0;
  left: 0;
  right: 0;
  margin-top: 150px;
}

.content-box2 image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.content-box2 h1 {
  display: flex;
  font-size: 30px;
  color: #6B3CC9;
}

.content-box2 button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #F28D35;
  color: #fff;
  border: none;
  cursor: pointer;
}
.content-box2 .text {
  max-width: 400px; 
}
.content-box2 text h1{
  color:#6B3CC9
}

.content-box3 {
  display: flex;
  background: white;
  padding: 20px;
  width: 1000px;
  height: 250px;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0;
  left: 0;
  right: 0;
  margin-top: 150px;
}

.content-box3 image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.content-box3 h1 {
  display: flex;
  font-size: 30px;
  color: #6B3CC9;
}

.content-box3 button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #F28D35;
  color: #fff;
  border: none;
  cursor: pointer;
}
.content-box3 text {
  max-width: 400px; 
}
.content-box3 text h1{
  color:#6B3CC9
}
.text-white {
  color: #ffffff;
}

/* Footer styles */
.footer {
  display: flex;
  height: 300px;
  position: relative;
  top: 80px;
  left: 0;
  padding: 26px 80px;
  justify-content: space-between;
  background-color: #6B3CC9;
  color: white;
}

.footer-container {
  flex: 1;
  max-width: 300px;
  margin: 0 10px;
}

.footer .text {
  max-width: 400px;
}

.footer h1 {
  color: white;
  font-weight: bold;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin-bottom: 8px;
}

.footer button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #F28D35;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Responsive styles using Tailwind CSS utility classes */
@media (max-width: 600px) {
  .navbar-container {
    padding: 26px 20px;
  }

  .hero-content {
    width: 100%;
    height:auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .content-box {
    width: 100%;
    height:auto;
    
  }

  .footer {
    padding: 26px 20px;
  }

  .footer-container {
    max-width: 100%;
    margin: 0;
  }
  .hero-container {
    max-width: 100%;
  }
  
  .content-box, .content-box2 , .content-box3, .footer {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}